<%- include('./shared/header'); -%>

  <div class="box-form p-50">
    <div class="w-100">
      <div class="dash-header">
        <h1 class="welcome-title">Welcome <%= userFirstName %>,</h1>
        <div class="dash-actions">
          <a href="/courts/<%= userId %>" id="order">Order New Court</a>
          <a href="/" class="link">Log Out</a>
        </div>
      </div>
      <br>
      <h2 class="">Your court orders:</h2>
      <% if(!orders.length) { %>
        <p> Empty... <a href="/courts/<%= userId %>">Order Now</a><a></a></p>
        <% } %>
          <div class="row">
            <% for(let i=orders.length-1;i>=0;i--) { %>
              <div class="card">
                <div class="card-header">
                  <img src="<%= orders[i].img %>" alt="img">
                </div>
                <div class="card-body">
                  <h3>
                    <%= orders[i].name %>
                  </h3>
                  <p>
                    <%= orders[i].address %>
                  </p>
                  <p>
                    <%= orders[i].players_number %> people 
                  </p>
                  <br>
                  <hr>
                  <div class="card-actions-btns">
                    <a href="">Reorder</a>
                    <a href="">Edit</a>
                    <a href="">Remove</a>
                  </div>
                </div>
              </div>
              <% } %>
          </div>
    </div>
  </div>

  <%- include('./shared/footer'); -%>